#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(15px);

  .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(123, 123, 123, 0.5);

    .head_logo {
      font-style: 0.9rem;
      text-align: center;
      text-transform: uppercase; /* 영문 전부 대문자 변환 */
      line-height: 1;

      em {
        font-size: 12px;
        display: block;
      }
    }
    .head_nav {
      @media (max-width: 800px) {
        display: none;
      }
      &.show {
        @media (max-width: 800px) {
          display: block;
          ul {
            position: absolute;
            right: 0;
            top: 68px;
            background-color: rgba(123, 123, 123, 0.3);
            padding: 20px 8px 20px 20px;

            li {
              display: block;
              text-align: right;

              a {
                display: inline-block;
                padding: 5px;
              }
            }
          }
        }
      }

      li {
        display: inline-block;

        a {
          font-size: 14px;
          text-transform: uppercase;
          padding: 14px;
          position: relative;

          &::before {
            content: "";
            width: calc(100% - 28px); /* 가로줄 - 좌우패딩*/
            height: 1px;
            background-color: var(--black);
            position: absolute;
            bottom: 0;
            left: 14px;
            transform: scale(0);
            transition: transform 0.2s;
          }
          &:hover::before {
            transform: scale(1);
          }
        }
      }
    }
    .header_nav_mobile {
      width: 40px;
      height: 40px;
      display: none;
      cursor: pointer;
      @media (max-width: 800px) {
        display: block;
      }

      span {
        display: block;
        width: 40px;
        height: 2px;
        background-color: var(--black);
        margin-top: 19px;
        position: relative;
        &::before {
          content: "";
          width: 40px;
          height: 2px;
          background-color: var(--black);
          position: absolute;
          top: 6px; /* bar를 위로 */
          right: 0;
          transition: width 0.3s;
        }
        &::after {
          content: "";
          width: 40px;
          height: 2px;
          background-color: var(--black);
          position: absolute;
          bottom: 6px; /* bar를 아래로 */
          left: 0;
          transition: width 0.3s;
        }
      }
    }
    .head_nav.show + .header_nav_mobile {
      span {
        &::before,
        &::after {
          @media (max-width: 800px) {
            width: 20px;
          }
        }
      }
    }
  }
}

/*














#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(15px);

  .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(123, 123, 123, 0.5);

    .head_logo {
      font-style: 0.9rem;
      text-align: center;
      text-transform: uppercase; 
      line-height: 1;
      em {
        font-size: 12px;
        display: block;
      }
    }
    .head_nav {
      @media (max-width: 800px) {
        display: none;
      }
    }

    &.show {
      @media (max-width: 800px) {
        display: block;
      }
    }
    ul {
      @media (max-width: 800px) {
        position: absolute;
        right: 0;
        top: 68px;
        background-color: rgba(123, 123, 123, 0.3);
        padding: 20px 8px 20px 20px;
      }
    }
    li {
      display: inline-block;
      a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 14px;
        position: relative;

        &::before {
          content: "";
          width: calc(100% - 28px);
          height: 1px;
          background-color: var(--black);
          position: absolute;
          bottom: 0;
          left: 14px;
          transform: scale(0);
          transition: transform 0.2s;
          &:hover::before {
            transform: scale(1);
          }
        }
      }
    }
  }
  .header_nav_mobile {
    @media (max-width: 800px) {
      display: block;
    }
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;

    span {
      display: block;
      width: 40px;
      height: 2px;
      background-color: var(--black);
      margin-top: 19px;
      position: relative;

      &::before {
        content: "";
        width: 40px;
        height: 2px;
        background-color: var(--black);
        position: absolute;
        top: 6px;
        right: 0;
        transition: width 0.3s;

        &::after {
          content: "";
          width: 40px;
          height: 2px;
          background-color: var(--black);
          position: absolute;
          bottom: 6px;
          left: 0;
          transition: width 0.3s;
        }
      }
    }
  }
}
*/
